
:root{
  --background-color: #fbfbfb;
  --border-color: #bfc0c0;
  --text-color: #000;
  --text-color-light: #7c7e7e;
  --hover-color: #097d6c;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family:  Helvetica, sans-serif;
  color: var(--text-color);
}
/* ------------------- Home Page ------------------------ */
main{
  display: flex;
  align-items: baseline;
  gap: 50px;
  padding: 40px 100px;
  background-color: var(--background-color);

}

/* ------------------- S'abonner aux alertes ------------------------ */

.abonner{
  max-width: 25%;
  height:fit-content;
  background-color: #e7eeed;
  padding: 30px;
}

h3{
  font-weight: bold;
  font-size: 20px;
}
.abonner p{
  font-size: 16px;
}
.abonner .subscribe-btn{
  background: none;
  border: none;
  color: var(--hover-color);
  font-weight: bold;
  font-size: 1rem;
}

.abonner .subscribe-btn:hover{
  background-color:#0dff000c;
  cursor: pointer;
}

.abonner .subscribe-btn:focus{
  outline: none;
}

.abonner .arrow{
  font-size: 12px;
  padding-left: 4px;
}

/* ------------------- Alertes ------------------------ */
.alertItem{
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.alertItem .alertTitle {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}
.alertItem a:hover{
  color: var(--hover-color);
}

.alertItem .subject{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: var(--border-color);
  padding: 5px 10px;
  max-width: fit-content;
}
.alertItem .date{
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-color-light);
}
.alertItem .date p{
  font-size: 14px;
}
.alertItem .date .calendar{
  font-size: 20px;
}

/* ------------------- Alertes Detail------------------------ */
.alertDetail{
  max-width: 70%;
}
.alertDetail div{
  border-bottom: 1px solid var(--border-color);
}
.alertDetail h2{
  font-size: 50px;
  font-weight: bold;
}
.alertDetail div p{
  font-size: 14px;
  color: var(--text-color-light);
  margin-bottom: 50px;
}
.alertDetail p{
  font-size: 16px;
  margin-top: 50px;
  color: var(--text-color-light);
}



@media(max-width: 768px) {
  main{
    flex-direction: column;
    padding: 20px;
  }
  .abonner{
    max-width: 100%;
    margin-bottom: 20px;
  }
  .alertDetail{
    max-width: 100%;
  }
}