
/* ------------------------HEADER--------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 20px;
    color: var(--text-color);

}
/* ------------------------LOGO--------------------------- */
.logo img {
    height: 24px;
    width: auto;
}


/* ------------------------ACCOUNT--------------------------- */
.account a {
    color: black;
}

.account-icon {
    padding-right: 10px;
}
.account a:hover {
    color: var(--hover-color);
}
