/* ------------------------HEADER--------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem; /* 10px = 0.625rem, 20px = 1.25rem */
    background: var(--background-color);
    border-bottom: 0.0625rem solid var(--border-color); /* 1px = 0.0625rem */
    font-size: 1.25rem; /* 20px = 1.25rem */
    color: var(--text-color);
}
/* ------------------------LOGO--------------------------- */
.logo img {
    width: auto;
    height: 1.5rem;
}

/* ------------------------ACCOUNT--------------------------- */
.account a {
    color: black;
}

.account-icon {
    padding-right: 0.625rem; /* 10px = 0.625rem */
}
.account a:hover {
    color: var(--hover-color);
}
